apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: springboot
  template:
    metadata:
      labels:
        app: springboot
    spec:
      containers:
        - name: springboot
          image: skumarmeher/springboot-docker-kubernetes:${IMAGE_TAG}
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
