apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: springboot
  template:
    metadata:
      labels:
        app: springboot
    spec:
      containers:
        - name: springboot
          image: skumarmeher/springboot-docker-kubernetes:latest
          ports:
            - containerPort: 8080

---
	
apiVersion: v1
kind: Service
metadata:
    name: springboot-service
spec:
  type: NodePort
  selector:
    app: springboot
  ports:
  - port: 80
  targetPort: 8080
  nodePort: 30007

