apiVersion: v1
kind: Config
clusters:
- cluster:
    server: https://6AD84BBA74D9DE2E9AC7E195C4124093.gr7.us-east-1.eks.amazonaws.com
    certificate-authority-data: DATA+OMITTED
  name: eks-cluster
contexts:
- context:
    cluster: eks-cluster
    user: jenkins
  name: jenkins-context
current-context: jenkins-context
users:
- name: jenkins
  user:
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6ImZhMjdlZTMxMzE4NDAzYzc3ODY3M2M1YjI3NWI0ZGUzZTU1MWI5OWMiLCJ0eXAiOiJKV1QifQ.eyJhdWQiOlsiaHR0cHM6Ly9rdWJlcm5ldGVzLmRlZmF1bHQuc3ZjIl0sImV4cCI6MTc2NTk1MDExOSwiaWF0IjoxNzY1OTQ2NTE5LCJpc3MiOiJodHRwczovL29pZGMuZWtzLnVzLWVhc3QtMS5hbWF6b25hd3MuY29tL2lkLzZBRDg0QkJBNzREOURFMkU5QUM3RTE5NUM0MTI0MDkzIiwianRpIjoiNTNiYzVkM2YtY2Y0YS00YjA2LTkwZjItMDI3N2JlZmI5OWY4Iiwia3ViZXJuZXRlcy5pbyI6eyJuYW1lc3BhY2UiOiJrdWJlLXN5c3RlbSIsInNlcnZpY2VhY2NvdW50Ijp7Im5hbWUiOiJqZW5raW5zIiwidWlkIjoiZjM3MmFkM2MtNzkwZC00YzRmLWFiN2QtZTZmY2FkM2JiODMxIn19LCJuYmYiOjE3NjU5NDY1MTksInN1YiI6InN5c3RlbTpzZXJ2aWNlYWNjb3VudDprdWJlLXN5c3RlbTpqZW5raW5zIn0.RsNj2H_Q_k2bJK9MLkmukD8uk1YRkF7cYhk-6jXhacCA4cqMuAzoLMd3Dpoy-PqOLV_lVzT0YSLahFlSLTZMLnJnlV6q3QNaeQOVdU0Mx60X6_BqOZsyBTkk6yPqu6PEFBphhP5JVylmTUv5OukGZ8SdulROOPeYJYBVJqc89urVoDaDmkgZ4SHnjwpJPtShKCXT8j7IAYzJKir6DwexF4Nvx9hqXSkbYBocD5o1AoRXpaeadSxluZV2P5qfwOWFajQrIUcgPL_gxwzaKzEMMe8Bd3ckOxiHjiO3g24bhzXfuG_AZi-yi1ZRdEpIFdYRDmXPnlXd0tWmY4b9yfJBWQ
